head, body {

	background-color: #D2D7D3; /* grey */
	/*font-family: 'Montserrat', sans-serif;*/
	/*font-family: 'Source Code Pro' ;*/
	font-family: 'Lato', sans-serif;
	color: #444;
	height: 100%;
	min-height: 100%;
	/*-webkit-font-smoothing: antialiased;*/
}


main {
	text-align: center;	
}
.intro {
	font-family: 'Armata', sans-serif;
	display: inline-block;
	/*margin: 20px 20px 10px 20px;*/
	padding: 0 20px;
}

footer {
	position: relative;
	display: block;
	font-size: 10px;
	margin: 10px;
}
.footer {
	text-align: center;
}
#menu-bar{
	
	text-align: center;
}
#menu-bar ul{
	border: 1px black;
	padding: 10px 0;
	margin: 0;
	display: inline-block;
	text-transform: uppercase;
	box-shadow: 0 5px black;

}
#menu-bar li{
	display: inline;
	font-size: 20px;
	padding: 10px;
	margin: 0px;

	background-clip: border-box;
	background-color: #F7CA18;

	-webkit-filter: brightness(1);
	-moz-filter: 	brightness(1);
		filter: 	brightness(1);

	
	

}
#menu-list > li:hover:not(.active) {
    /* selects all <p> children of #parent that are not .green_guys */
	-webkit-animation: 	hovered 250ms ease-in 1 normal forwards;
	-moz-animation: 	hovered 250ms ease-in 1 normal forwards;
	animation: 			hovered 250ms ease-in 1 normal forwards;
}
#menu-bar li:hover{
	-webkit-animation: 	pop_out 250ms ease-in 1 normal forwards;
	-moz-animation: 	pop_out 250ms ease-in 1 normal forwards;
	animation: 			pop_out 250ms ease-in 1 normal forwards;
}
#menu-bar li.active{
	/*background-color: #d35400; */
	background-color: #C99E35; 
}

#menu-bar li a{
	color: black;
	transition: 1s;
    text-decoration: none;
}
#menu-bar a:link {
    /*text-decoration: none;*/
}

#menu-bar a:visited {
    text-decoration: none;
}

#menu-bar a:hover, #menu-bar a:hover:after {
    text-decoration: underline;

}

#menu-bar a:active {
    text-decoration: none;
    /*text-decoration: underline;*/
}
/* ...mobile styles here... */
@media screen and (max-width: 500px){
	#menu-bar{
	}
	#menu-bar ul{
		text-align: center;
		padding: 0;
		background-color: #F7CA18;
		background-clip: border-box;

	}
	#menu-bar li{
		display: inline-block;
		font-size: 20px;

		padding: 10px;
		margin: 0px;

	}

}
@media screen and (max-width: 414px) { /* ...tablet styles here... */ 

}
@media screen and (min-width: 415px) and (max-width: 800px){ /* ...desktop styles here... */ 
	#menu-bar{

	}
	#menu-bar ul{
		text-align: center;
		padding: 0;
		background-color: #F7CA18;
		background-clip: border-box;

	}
	#menu-bar li{
		display: inline-block;
		font-size: 20px;

		padding: 10px;
		margin: 0px;

	}	
}
/* animations */
@-moz-keyframes pop_out{
	from {
		background-color: #F4D03F;
	} to {
		/*background-color: #E2B13C;*/
		/*background-color: #d35400;*/
		background-color: #C99E35;
		
	}
}
@-webkit-keyframes pop_out{
	from {
		background-color: #F4D03F;
	} to {
		/*background-color: #E2B13C;*/
		/*background-color: #d35400;*/
		background-color: #C99E35;
	}
}
@keyframes pop_out{
	from {
		background-color: #F4D03F;
	} to {
		/*background-color: #E2B13C;*/
		/*background-color: #d35400;*/
		background-color: #C99E35;
	}
}
/* --------- selected ------------ */
@-moz-keyframes hovered{
	from {
		background-color: #F4D03F;
	} to {
		background-color: #E2B13C;
		/*background-color: #d35400;*/
	}
}
@-webkit-keyframes hovered{
	from {
		background-color: #F4D03F;
	} to {
		background-color: #E2B13C;
		/*background-color: #d35400;*/
	}
}
@keyframes hovered{
	from {
		background-color: #F4D03F;
	} to {
		background-color: #E2B13C;
		/*background-color: #d35400;*/
	}
}

@-webkit-keyframes darken { from {-webkit-filter: brightness(1);} to {-webkit-filter: brightness(0.3); } }
@-moz-keyframes darken { from {-moz-filter: brightness(1);} to {-moz-filter: brightness(0.3); } }
@keyframes darken { from {filter: brightness(1);} to {filter: brightness(0.3); } }

